/* Import Section */

@import url("./reset.css");
@import url("./querys.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url("");

/* End Import Section  */

/* Fuentes y Colores a utilizar

font-family: ';
font-family: '; 
color_principal: 
color_secundario: 
*/

/* Variables Root  */

:root {
  /* --fuente-principal: ;
  --fuente-titulos: */
  --colorprimario: #6b8e23;
  --colorsecundario: #f5f5dc;
  --margin: 0.625rem;
  --maxwidth: 90%;
  --fontsize: 1rem;
}

* {
  box-sizing: border-box;
}

/* Scroll Animado */

html {
  scroll-behavior: smooth;
}

/* Estilos Globales */

body {
  font-family: var(--fuente-principal);
  font-size: var(--fontsize);
}

.container {
  max-width: var(--maxwidth);
  margin: 0 auto;
}

img {
  height: auto;
  display: block;
  width: 100%;
}

/* Más estilos globales */

button {
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Estilos del header */

header {
  width: 100%;
  height: 9.375rem;
  background-color: var(--colorprimario);
  text-align: center;
  align-content: center;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: var(--margin);
    color: var(--colorsecundario);
  }

  #buscador {
    width: 18.75rem;
    height: 1.875rem;
    border-radius: 0.625rem;
  }
}

/* Estilos del main */

.escaparate {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin-top: 0.625rem;

  article {
    margin: 0.625rem;
    padding: 1.25rem;
    width: 15.33rem;
    border-top: 0.1875rem solid var(--colorprimario);
    border-left: 0.1875rem solid var(--colorprimario);
    box-shadow: 0.0625rem 0.0625rem 0.3125rem 0.0625rem;
    border-radius: 0.625rem;
    text-align: center;
    align-content: center;

    &:hover {
      transform: scale(105%);

      figure {
        transition: 5s;
        transform: scale(105%) rotate(3deg);
      }
    }

    img {
      width: 9.375rem;
      height: 9.375rem;
      margin: 0 auto;
      background-color: grey;
      border-radius: 50%;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 700;
      margin-top: 1.875rem;
    }

    li {
      margin: 1.25rem 0;
      line-height: 1.2rem;
    }

    button {
      width: 9.375rem;
      height: 1.875rem;
      border-radius: 0.625rem;
      background-color: var(--colorprimario);
      font-weight: 700;
      color: var(--colorsecundario);

      &:hover {
        transform: scale(120%);
      }
    }
  }
}

.paginas {
  text-align: center;

  button {
    width: 6.25rem;
    height: 1.875rem;
    margin: 0.625rem;
    background-color: var(--colorsecundario);

    &:hover {
      background-color: var(--colorprimario);
      color: var(--colorsecundario);
      font-weight: 700;
    }
  }
}

.carro {
  width: 35%;
  height: 100vh;
  background-color: var(--colorsecundario);
  position: fixed;
  top: 0;
  right: -35%;
  transition: 0.5s;
  
  /* El menú permanece dehabilitado hasta que se pulse el carrito, cómenta el display para ver como queda */

  aside {
    margin-top: 5rem;
    padding: 0.625rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 3.125rem;
    font-size: 1.8rem;
    font-weight: 700;
    border-right: 0.125rem solid var(--colorprimario);
    border-bottom: 0.125rem solid var(--colorprimario);
    border-radius: 0.3125rem;
  }

  ul {
    li {
      width: 100%;
      margin: 0.3125rem 0;

      list-style: circle;
      display: flex;
      justify-content: space-between;

      &:before {
        content: "•";
      }

      p {
        display: inline-block;
        margin-right: auto;
        margin-left: 0.3125rem;
        flex-grow: 1;
      }

      button {
        margin-left: 0.125rem;
      }

      button:last-child {
        background-color: rgb(224, 51, 51);
      }
    }
  }

  div {
    margin-top: 1.25rem;

    p:nth-child(2) {
      margin: 0.625rem;
      font-weight: 700;
    }

    button:not(#cart) {
      width: 100%;
      height: 2.1875rem;
      text-align: center;
      border-radius: 0.3125rem;
      background-color: var(--colorprimario);
      color: var(--colorsecundario);
      font-size: 1.3rem;
      font-weight: 700;

      &:hover {
        transform: scale(105%);
      }
    }
  }

  #cart {
      width: 2.5rem;
      height: 2.5rem;
      background-color: var(--colorsecundario);
      border: none;
      border-radius: 50%;
      text-align: center;
      align-content: center;
      box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
      position: absolute;
      top: 20px;
      left: -50px;

      &:hover {
        transform: scale(110%);
        box-shadow: 0px 0px 3px 5px cyan;
      }
  }
}
